.container {
	height: 50%;
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: antiquewhite;
	box-shadow: 4px 4px 10px black;
	border-radius: 10px;
	margin: 20px auto;
	padding: 20px;
	box-sizing: border-box;
}
.container:hover {
	box-shadow: 2px 2px 5px rgb(70, 67, 67);
}
.image {
	height: 45%;
	width: 55%;
}
